<% set_meta_tags og: {
                   title: "#{@article.name}",
                   description: 'Wypożyczaj narty.',
                   image: image_url('sample-image.jpg'),
                 } %>

<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center article-show col-sm-12 container-fluid">
    <% if current_user %>
      <%= link_to 'Edit', edit_article_path(@article) %>
      <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
    <header>
      <p class="date">
        <%= @article.pretty_date %>
      </p>
      <h1 class="page-title"><%= @article.name %></h1>
    </header>
    <div id="content">
        <%= markdown @article.content %>
    </div>
    <hr  />
    <div id="share-box">
      <p>
        Share <%= @article.name %>
      </p>
      <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.name %> by @ASzczombrowski - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
      <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
      <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
    </div>
    <hr>
    <%= render 'disqus' %>
  </div>
</div>
