<header id="main_navigation" class="clearfix">
  <%= link_to 'Adam Szczombrowski', root_path, class: 'name' %>
  <nav>
    <%= link_to 'Articles', articles_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', new_contact_path %>
    <% if current_user %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>
